<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.diaco.fakepage">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR"/>
<!--                <uses-permission android:name="ir.mservices.market.BILLING" />-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:name="com.diaco.fakepage.MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:supportsRtl"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.MyApplication">


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7409461460639001~3507897686"/>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_518322220404" />


        <service
            android:name="co.ronash.pushe.fcm.FcmService"
            tools:node="remove" />

        <service android:name="com.diaco.fakepage.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.diaco.fakepage.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.diaco.fakepage"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file" />
        </provider>
        <activity
            android:name="com.diaco.fakepage.NotifyActivity"
            android:label="liom"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name="com.diaco.fakepage.Setting.MyPushListener"
            android:exported="false">
            <intent-filter>
                <action android:name="co.ronash.pushe.RECEIVE" />
            </intent-filter>
        </service>
        <activity
            android:name=".ParamsActivity"
            android:label="fake"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--http://www.liom-app.ir/liom-->
                <data
                    android:host="app"
                    android:scheme="fake" />

            </intent-filter>
        </activity>


        <activity
            android:name="com.diaco.fakepage.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>